<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Ticket Reservation System</title>
    <link rel="stylesheet" href="static/views.css">
</head>

<body>
    <h1>Welcome</h1>

    <h3>Search for a flight</h3>
    <form action="/flightInfo" method="GET">
        <label for="src">Source city/airport name: </label>
        <input type="text" id="src" name="src" required><br>

        <label for="dst">Destination city/airport name: </label>
        <input type="text" id="dst" name="dst" required><br>

        <label for="departure_date">Departure date</label>
        <input type="date" id="departure_date" name="departure_date" required><br>

        <label for="arrival_date">Arrival date (Round trip only)</label>
        <input type="date" id="arrival_date" name="arrival_date"><br>

        <input type="submit" class="button" value="Search">
    </form>

    <br>
    {% if flightRequest %}
    {% if flightData and roundTrip %}
    <table>
        <thead>
            <tr>
                <th>Airline (Outgoing)</th>
                <th>Flight (Outgoing)</th>
                <th>Departure Period (Outgoing)</th>
                <th>Departure (Outgoing)</th>
                <th>Arrival Period (Outgoing)</th>
                <th>Arrival (Outgoing)</th>
                <th>Airline (Return)</th>
                <th>Flight (Return)</th>
                <th>Departure Period (Return)</th>
                <th>Departure (Return)</th>
                <th>Arrival Period (Return)</th>
                <th>Arrival (Return)</th>
            </tr>
        </thead>
        <tbody>
            {% for return in roundTrip %}
            {% for flight in flightData %}
            <tr>
                <td>{{flight[0]}}</td>
                <td>{{flight[1]}}</td>
                <td>{{flight[2]}}</td>
                <td>{{flight[3]}}</td>
                <td>{{flight[4]}}</td>
                <td>{{flight[5]}}</td>
                <td>{{return[0]}}</td>
                <td>{{return[1]}}</td>
                <td>{{return[2]}}</td>
                <td>{{return[3]}}</td>
                <td>{{return[4]}}</td>
                <td>{{return[5]}}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    {% elif flightData %}
    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Flight</th>
                <th>Departure Period</th>
                <th>Departure</th>
                <th>Arrival Period</th>
                <th>Arrival</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flightData %}
            <tr>
                <td>{{flight[0]}}</td>
                <td>{{flight[1]}}</td>
                <td>{{flight[2]}}</td>
                <td>{{flight[3]}}</td>
                <td>{{flight[4]}}</td>
                <td>{{flight[5]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No flights found</p>
    {% endif %}
    {% endif %}
    <br><br>

    <h3>Get flight status</h3>
    <form action="/flightStatus" method="GET">
        <label for="airline">Airline name: </label>
        <input type="text" id="airline" name="airline" required><br>

        <label for="flight">Flight number: </label>
        <input type="text" id="flight" name="flight" required><br>

        <label for="departure_date">Departure date: </label>
        <input type="date" id="departure_date" name="departure_date" required><br>

        <input type="submit" class="button" value="Find">
    </form>

    <br>
    {% if statusRequest %}
    {% if statusData %}
    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Flight</th>
                <th>Departure Period</th>
                <th>Flight Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{statusData[0]}}</td>
                <td>{{statusData[1]}}</td>
                <td>{{statusData[2]}}</td>
                <td>{{statusData[8]}}</td>
            </tr>
        <tbody>
    </table>
    {% else %}
    <p>Flight status cannot be found</p>
    {% endif %}
    {% endif %}
    <br><br>

    <a href="/login">Login</a> <br>
    <a href="/customerReg">Customer Sign Up</a> <br>
    <a href="/staffReg">Staff Sign Up</a>
</body>

</html>